a{
  color: /*#34699a*/ #888;
}

a:hover{
  color: /*#bbe1fa*/#ed7833;
}

body{
  background-color: /*#bbe1fa*/ #512888;
  margin: 0;
  text-align: center;
  font-family: 'Comic Neue', cursive;
  color: /*#1b262c*/ #000;
}

div{
  margin: 0;
  padding: 0;
}

hr {
  margin: 2rem auto;
  border-color: /*#0f4c75*/ #008080;
  border-style: none;
  border-top-style: dotted;
  border-width: 9px;
  height: 0;
  width: 5%;
}



.topBar{
  background-color: /*#66BFBF*/#512888;
  font-family: 'Merienda One', cursive;
  /* margin-bottom: 25px; */
}

.saga{
  font-family: 'Berkshire Swash', cursive;
  /*
  color: #34699a;
  */
  margin: 10px;
}






.topContainer{
  position: relative;
  padding-top: 10%;
  padding-bottom: 1rem;
  background-image: linear-gradient(to bottom, #1d1d1d, #333);
}

.topCloud{
  position: absolute;
  top: 0;
  right: 25%;
  width: 10%;
}

.topBat{
  position: absolute;
  top: 4.5%;
  right: 25%;
  width: 10%;
}

.bottomCloud{
  position: absolute;
  left: 25%;
  bottom: 55.9%;
  width: 10%;
}

.bottomGhost{
  position: absolute;
  left: 23%;
  bottom: 52%;
  width: 10%;
}

.trees{
  width: 40%;
  margin: 0 auto;
}

.gred{
  width: 50%;
  margin: 0 auto;
}

.havoc{
  margin: 25px auto 1%;
  font-family: /*'Kaushan Script', cursive*/ 'Nosifer', cursive;
  font-size: /*3em*/ 2.5em;
  color: /*#66BFBF*/#8a0303;
}

.yoski{
  font-family:/*'Merienda One', cursive*/ 'Fontdiner Swanky', cursive;
  font-size: 2em;
  color: /*#66BFBF*/#ccc;
}


.middleContainer{
  position: relative;
  background-color: /*#fcfefe*/ #888;
}

.funkyFresh{
  padding: 1.5rem 0 1rem;
  font-family: 'Fontdiner Swanky', cursive;
}

.profile{
  position: relative;
  background-color: /*#fff*/ #888;
  background-image: linear-gradient(to bottom right, #EB6123, #ff7d23c2);
  padding: 1rem 0 1.5rem;
}

.td{
  background-color: /*#1bd7bb*/#7349AC;
  padding: 5%;
}

.congrats{
  color: /*#1bd7bb*/#7349AC;
  font-size: 1.5rem
}

@media (min-width: 1200px){
  .congrats{
    visibility: hidden;
  }
}

.midGrad{
  background-image: linear-gradient(to bottom left, #EB6123, #ff7d23c2);
  padding: .5%;
}

.lessSpace{
  margin-bottom: 1.5rem;
}

.shaysOpinions{
  margin-left: auto;
  margin-right: auto;
  font-family: 'Amarante', cursive;
}

.shaysIcons{
margin: 10px auto;
width: 33.33%;
}

.itemRow{
  margin: 25px auto;
  width: 30%;
}

.newWords{
  /*background-color: #66BFBF;*/
  background-image: linear-gradient(to top, #512888, #7349AC);
  /*color: #fff;*/
  padding: 1.5rem;
}


.bottomContainer{
  background-color: /*#fff*/ #333;
  background-image: linear-gradient(to top, #111, #333);
  margin: 0 auto;
  padding-top: .5rem;
  padding-bottom: 10px;
}

.footer{
  font-size: 1.25rem;

}

.credit{
  color: /*#113f67*/ #7349AC;
}

/*
colors{
  #66ff8f
  #00ffb6
  #22e4ac
  #7ed09e
  #18d59f
  #00ffc1
  #008080
  #46b29D
  #19abca
  #a2faf7
  #198cca
  #226EB3
  #0083c4
  #00baff
  #5f89ff
  #10008a
  #39008f
  #443093
  #512888
  #7349AC
  #873fd8
  #b134f9
  #f98eff
  #ec79ed
  #f953d2
  #5d2450
  #DA4200
  #EB6123
  #ed7833
  #ffaa79
}
*/

.hidden{
  display: none;
}




.weirdQuiz{
  visibility: hidden;
}

.AAAAA{
  width: 100%;
  font-family: 'Candal', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  overflow-wrap: break-word;
}





.approach{
  font-family: 'Merienda One', cursive;
  font-size: 2rem;
}

.tater{
  margin-top: 50px;
}





.approacheth{
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 2rem;
}

.roacheth{
  width: 100%;
}
