a{
  color: #34699a;
}

a:hover{
  color: #bbe1fa;
}

body{
  background-color: #bbe1fa;
  margin: 0;
  text-align: center;
  font-family: 'Comic Neue', cursive;
  color: #1b262c;
}

div{
  margin: 0;
  padding: 0;
}

hr {
  margin: 20px auto;
  border-color: #0f4c75;
  border-style: none;
  border-top-style: dotted;
  border-width: 9px;
  height: 0;
  width: 5%;
}



.topBar{
  background-color: #66BFBF;
  font-family: 'Merienda One', cursive;
  margin-bottom: 25px;
}

.saga{
  font-family: 'Berkshire Swash', cursive;
  /*
  color: #34699a;
  */
  margin: 10px;
}






.topContainer{
  position: relative;
  padding-top: 10%;
}

.topCloud{
  position: absolute;
  top: 0;
  right: 25%;
  width: 10%;
}

.bottomCloud{
  position: absolute;
  left: 25%;
  bottom: 55.9%;
  width: 10%;
}

.trees{
  width: 40%;
  margin: 0 auto;
}

.havoc{
  margin: 0 auto 1%;
  font-family: 'Kaushan Script', cursive;
  font-size: 3em;
  color: #66BFBF;
}

.yoski{
  font-family: 'Merienda One', cursive;
  font-size: 2em;
  color: #66BFBF;
}

.funkyFresh{
  font-family: 'Fontdiner Swanky', cursive;
}


.middleContainer{
  background-color: #fcfefe;
  padding: 20px 0;
}

.shaysOpinions{
  margin-left: auto;
  margin-right: auto;
  font-family: 'Amarante', cursive;
}

.shaysIcons{
margin: 10px auto;
width: 33.33%;
}

.itemRow{
  margin: 25px auto;
  width: 30%;
}


.bottomContainer{
  background-color: #66BFBF;
  margin: 0 auto;
  padding: 10px;
}

.footer{
  font-size: 1.25rem;

}

.credit{
  color: #113f67;
}

/*
colors{
  color: #66ff8f;
  #00ffb6
  #008080
  #a2faf7
  #00baff
  #19abca
  #198cca
  #0083c4
  #226EB3
  #5f89ff
  #10008a
  #39008f
  #5d2450
  #b134f9
  #873fd8
}
*/




.weirdQuiz{
  visibility: hidden;
}

.AAAAA{
  width: 100%;
  font-family: 'Candal', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  overflow-wrap: break-word;
}





.approach{
  font-family: 'Merienda One', cursive;
  font-size: 2rem;
}

.tater{
  margin-top: 50px;
}





.approacheth{
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 2rem;
}

.roacheth{
  width: 100%;
}
