body{
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

.container-fluid{
  padding: 7% 15%;
}



#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

.big-title{
  font-size: 3.5rem;
  line-height: 1.5;
}



/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.tindog{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding-left: 36px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: 100;
}



/* Download Buttons */

.download-btn{
  margin: 5% 3% 5% 0;
}



/* Title Image */

.title-image{
  width: 60%;
  transform: rotate(22.5deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 1094px) {
  #title{
    text-align: center;
    margin: auto;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}



#features{
  position: relative;
}

.feature-box{
  padding: 5%;
}

.feature-icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover{
  color: #ff4c68;
}

.feature-title{
  font-size: 1.5rem;
}

.feature-sub{
  color: #8f8f8f;
}



#testimonials{
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}



#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}



#pricing{
  padding: 100px;
}

.price-title, .price-label{
  font-size: 3rem;
  line-height: 1.5;
}


.price-sub{
  padding-bottom: 5%;
  font-weight: normal;
}

.price-card{
  padding: 3% 2%;
}



.contact-icon{
  padding: 10px;
}

.copyright{
  color: #8f8f8f;
}



/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}
